body {
    font-size: 13px;
    font-family: "Arial", sans-serif;
}

select {
    width: 100%;
}

#pageWrapper {
    width: 100%;
    height: auto;
}

#non-printable {
    float: left;
}

#printable {
    display: block;
    float: right;
    height: 100%;
}

/**************************************************************/
/************************* TOOLS ******************************/
/**************************************************************/
#toolsContent {
    float: left;
    margin: 0 10px;
    width: 300px;
}

#hideOrShowToolsContent {
    float: left;
    height: 100%;
    width: 8px;
    margin-right: 5px;
    background-color: #F0F0F0;
    cursor: pointer;
}

.hideOrShowToolsContent {
    position: relative;
    top: 50%;
    left: 1px;
}

/* ******************************************************** */
/* *********************** CONTAINER ********************** */
/* ******************************************************** */
.containerMenu {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 0 4px rgba(101, 152, 30, 1);
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 0 4px rgba(101, 152, 30, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
    min-width: 264px;
}

.containerTitle {
    background: -moz-linear-gradient(center bottom, #DFDFDF 0%, #F2F2F2 66%, #F2F2F2 90%, #E6E6E6 93%, #BEBEBE 96%, #969696 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(223, 223, 223, 1)), color-stop(66%, rgba(242, 242, 242, 1)), color-stop(90%, rgba(242, 242, 242, 1)), color-stop(93%, rgba(230, 230, 230, 1)), color-stop(96%, rgba(210, 210, 210, 1)), to(rgba(140, 140, 140, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left bottom, left top, from(rgba(223, 223, 223, 1)), color-stop(66%, rgba(242, 242, 242, 1)), color-stop(90%, rgba(242, 242, 242, 1)), color-stop(93%, rgba(230, 230, 230, 1)), color-stop(96%, rgba(210, 210, 210, 1)), to(rgba(140, 140, 140, 1))); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DFDFDF 0%, #F2F2F2 66%, #F2F2F2 90%, #E6E6E6 93%, #BEBEBE 96%, #969696 100%); /* Opera 11.10+ */
    background: linear-gradient(#DFDFDF 0%, #F2F2F2 66%, #F2F2F2 90%, #E6E6E6 93%); /* W3C */
    height: 22px;
    padding: 3px 0 0 0;
    color: #666666;
    text-align: center;
    min-width: 90px;
}

.containerTitle {
    padding-left: 5px;
}

.containerTitleText {
    float: left;
    margin-left: 5px;
    font-weight: bold;
}

.containerTitleClose, .containerTitleCloseWP {
    float: right;
    margin-right: 2px;
}

.containerContent {
    padding: 3px 8px;
    margin-top: 5px;
}

#errors {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 0 4px rgba(101, 152, 30, 1);
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 0 4px rgba(101, 152, 30, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    min-width: 200px;
    display: none;
    position: absolute;
    background: #FEF1EC;
    color: #CD0A0A;
    padding-bottom: 5px;
}

#errors .containerTitle {
    background: -moz-linear-gradient(center bottom, #BCA095 0%, #FEF1EC 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(188, 160, 149, 1)), color-stop(100%, rgba(254, 241, 236, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left bottom, left top, from(rgba(188, 160, 149, 1)), color-stop(100%, rgba(254, 241, 236, 1))); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #BCA095 0%, #FEF1EC 100%); /* Opera 11.10+ */
    background: linear-gradient(#BCA095 0%, #FEF1EC 100%); /* W3C */
    color: #CD0A0A;
}

.mapsNumber {
    float: left;
    margin-top: 2px;
}

.divArrow_up {
    float: right;
    width: 18px;
    height: 12px;
    margin: 4px 1px;
}

.divArrow_up {
    background: url(../img/arrow-md.png) no-repeat;
}

#slider-range, #slider-nbcolorbands {
    margin: 5px auto;
}

#slider-range-text, #slider-nbcolorbands-text {
    border: 0;
    font-weight: bold;
    background: white;
    width: 120px;
}

#VariableContainer[disabled] .containerTitle,
#ElevationContainer[disabled] .containerTitle,
#TimeContainer[disabled] .containerTitle {
    opacity: 0.4;
}

.containerLegend {
    margin-bottom: 14px;
}

#LegendContent {
    min-height: 250px;
    padding-bottom: 10px;
}

#legendTools {
    float: left;
}

#legend {
    float: right;
}

#autoRange {
    position: relative;
    top: 2px;
}

#getRange {
    height: 23px;
    padding: 0 5px;
    margin: -2px 4px 0 19px;
}

/************************* BUTTONS ******************************/
.containerButtons {
    margin-bottom: 65px;
}

.lonelyTool {
    margin-top: 5px;
}

.lonelyToolIcone {
    margin-top: 2px;
}

.tool {
    float: left;
    margin: 9px 0 0 3px;
}

.tool button {
    height: 20px;
}

/**************************************************************/

.ui-widget-header {
    background: none;
    background-color: CadetBlue;
}

/*Overwrite the value of jquery-ui-1.10.2.custom.css to have bigger icon*/
.ui-icon-gripsmall-diagonal-se {
    background-position: -82px -224px;
}
